body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #fdfdff;
}
/* header */
.page-header {
    margin-bottom: 40px;
}
/*  блок header */
.header {
    display: flex;
    hight:150px;}
.page-header h1{
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.logo {
    width: 64px;
    height: 68px;
    margin: 20px;
    /*margin-right: auto;*/
}
/*  блок меню */
.main-nav {
    display: flex;

    justify-content: center;
    /*width: 1170px;*/
    margin: 0 auto;
    }
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    list-style: none;
    max-width: 990px;
}
.site-navigation-item {
    margin-right: 30px;
}
/*  main */
.main-content {
    display: flex;
    margin: 0 auto;
}
/*  блок контент */
.blog-article {
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin: auto 20px;

}

.blog-article-content {
    width: 400px;
}

.blog-article-img {
    width: 600px;
}

.blog-article-1 {
    margin-bottom: 100px;
}

.blog-article-1 .blog-article-content {
    margin-right: 30px;
}

.blog-article-2 {
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.blog-article-2 .blog-article-content {
    text-align: right;
}

.blog-article-2 .blog-article-img {
    margin-right: 30px;
}
.blog-article-date {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.blog-article-description {
    margin-top: 0;
    margin-bottom: 15px;
}
/*  блок доп.информации */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.card {
    width: 310px;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}

.card-img {
    display: block;
    margin-bottom: 21px;
}

.card-title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 23px;
}

.card-description {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
}
.card-features {
    padding: 0;
    margin: 0;
    margin-left: 18px;
    margin-bottom: 29px;
    list-style-type: disc;
}

.card-features li {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 19px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
/*  блок footer */
.main-footer {

    hight:100px;
    font-size: 10px;
    line-height: 12px;
    border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer-container {

    margin-top: 20px;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 175px;
}

.main-footer .logo {
    width: 100px;
    height: 106px;
    margin-bottom: 30px;
}

.footer-navigation-topics {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}

.footer-navigation-topic {
    width: 165px;
}

.footer-navigation-topic h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-navigation-item {
    margin-bottom: 12px;
}

.footer-navigation-item:last-child {
    margin-bottom: 0;
}

.footer-navigation-item a {
    color: #163152;
    text-decoration: none;
}